.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 70px);
}

.card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;

  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 20px;
  text-align: center;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
}