.container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 70px);
}

.card {
  width: 500px;

  background: white;
  padding: 30px;

  border-radius: 10px;

  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card input,
.card textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card textarea {
  height: 100px;
  resize: none;
}

.card button {
  padding: 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 13px;
}